# System API Keys (Numbered)
SYSTEM_KEY_1_ID=user1
SYSTEM_KEY_1_PASS=pass1
SYSTEM_KEY_1_VALUE=
SYSTEM_KEY_2_ID=user2
SYSTEM_KEY_2_PASS=pass2
SYSTEM_KEY_2_VALUE=

# Default Gemini API Key
GEMINI_API_KEY=

# Telegram Feedback Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
